

.text {
  color: rgb(70, 70, 70);
  font-family: Helvetica;
}

#canvas-container{
  position: relative;
}
#overlay{
  position: absolute;
}

h1{
  color: white;
  font-size: 100px;
}

.hint {
  text-align: center;
  user-select: none;
}

canvas {
  margin: -4em;
  padding: 0px;
}

#swap {
  font-size: .8em;
  font-weight: 600;
}